<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <include path="~/Content/bower_components/font-awesome/css/font-awesome.min.css" />
    <include path="~/Content/bower_components/Ionicons/css/ionicons.min.css" />
    <include path="~/Content/dist/css/AdminLTE.min.css" />
    <include path="~/Content/dist/css/skins/_all-skins.min.css" />
    <include path="~/Content/bower_components/morris.js/morris.css" />
    <include path="~/Content/bower_components/jvectormap/jquery-jvectormap.css" />
    <include path="~/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
    <include path="~/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css" />
    <include path="~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" />
    <include path="~/Content/dist/css/select2.min.css" />
  </styleBundle>
</bundles>
